<div class="friend-wrap">
  <mat-card class="friend-card">
    <img
      mat-card-image
      [src]="friendInfo.avatarImg"
      alt="No avatar"
    /><mat-card-header>
      <mat-card-title
        >{{ friendInfo.firstName }} {{ friendInfo.lastName }}</mat-card-title
      >
      <mat-card-subtitle style="margin-bottom: 0px"
        >8 mutual friends</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-actions class="actions">
      <div>
        <button class="button" mat-stroked-button color="primary">
          View Profile
        </button>
      </div>
      <div>
        <button class="button" mat-stroked-button color="warn">
          Delete Friend
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
