.nav-bar {
  width: 300px;
  box-shadow: 0px 0px 24px 6px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0px 0px 24px 6px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 0px 24px 6px rgba(0, 0, 0, 0.16);
  height: 100%;
  margin-right: 12px;
  background-color: #f3effa;
}
a {
  color: black;
  text-decoration: none;
}
.mat-badge-small.mat-badge-above .mat-badge-content {
  top: -3px;
}
.nav-item {
  display: flex;
  flex-direction: row;
  height: 30px;
}
p {
  margin-top: 5px;
}
.mat-icon {
  font-size: 20px;
  margin-top: 5px;
}
