<div class="nav-bar" *ngIf="authService.loggedIn">
  <mat-selection-list [multiple]="false">
    <a routerLink="/messages"
      ><mat-list-option>
        <div class="nav-item">
          <mat-icon>feed</mat-icon>
          <p>
            <span matBadgeSize="small" matBadge="" matBadgeOverlap="false"
              >Feed</span
            >
          </p>
        </div>
      </mat-list-option></a
    >
    <a routerLink="/profile"
      ><mat-list-option>
        <div class="nav-item">
          <mat-icon>account_box</mat-icon>
          <p>
            <span matBadgeSize="small" matBadge="" matBadgeOverlap="false"
              >Profile</span
            >
          </p>
        </div>
      </mat-list-option></a
    >
    <a routerLink="/messages"
      ><mat-list-option>
        <div class="nav-item">
          <mat-icon>mail</mat-icon>
          <p>
            <span matBadgeSize="small" matBadge="2" matBadgeOverlap="false"
              >Messages</span
            >
          </p>
        </div>
      </mat-list-option></a
    >
    <a routerLink="/messages"
      ><mat-list-option>
        <div class="nav-item">
          <mat-icon>notifications</mat-icon>
          <p>
            <span matBadgeSize="small" matBadge="4" matBadgeOverlap="false"
              >Notifications</span
            >
          </p>
        </div>
      </mat-list-option></a
    >
    <a routerLink="/groups"
      ><mat-list-option>
        <div class="nav-item">
          <mat-icon>groups</mat-icon>
          <p>
            <span matBadgeSize="small" matBadge="1" matBadgeOverlap="false"
              >Groups</span
            >
          </p>
        </div>
      </mat-list-option></a
    >
    <a routerLink="/friends"
      ><mat-list-option>
        <div class="nav-item">
          <mat-icon>people_alt</mat-icon>
          <p>
            <span matBadgeSize="small" matBadge="18" matBadgeOverlap="false"
              >Friends</span
            >
          </p>
        </div>
      </mat-list-option></a
    >
    <a routerLink="/messages"
      ><mat-list-option>
        <div class="nav-item">
          <mat-icon>settings</mat-icon>
          <p>
            <span matBadgeSize="small" matBadge="" matBadgeOverlap="false"
              >Settings</span
            >
          </p>
        </div>
      </mat-list-option></a
    >
  </mat-selection-list>
</div>
